<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<string>Водоро́д — первый элемент периодической системы элементов; обозначается символом H. Название представляет собой кальку с латинского: лат. hydrogenium (от др.-греч. ὕδωρ — вода и γεννάω — рождаю) — «порождающий воду».&quot;</string>
	<key>He</key>
	<string>Ге́лий — второй элемент периодической системы химических элементов Д. И. Менделеева с атомным номером 2. Расположен в 18-й группе (по старой классификации — главной подгруппе восьмой группы), первом периоде периодической системы. Возглавляет группу инертных газов в периодической системе. Обозначается символом He (лат. Helium).

Простое вещество гелий — инертный одноатомный газ без цвета, вкуса и запаха.

Гелий — один из наиболее распространённых элементов во Вселенной, он занимает второе место после водорода. Также гелий является вторым по лёгкости (после водорода) химическим веществом. Его температура кипения — самая низкая среди всех известных веществ.

Гелий добывается из природного газа процессом низкотемпературного разделения — так называемой фракционной перегонкой (см. Фракционная дистилляция в статье Дистилляция).</string>
	<key>Li</key>
	<string>Ли́тий (Li, лат. lithium) — химический элемент первой группы, второго периода периодической системы с атомным номером 3. Как простое вещество представляет собой мягкий щелочной металл серебристо-белого цвета.</string>
	<key>Be</key>
	<string>Бери́ллий (Be, лат. beryllium) — химический элемент второй группы, второго периода периодической системы с атомным номером 4. Как простое вещество представляет собой относительно твёрдый металл светло-серого цвета, имеет очень высокую стоимость[3]. Высокотоксичен.</string>
	<key>B</key>
	<string>Бор (B, лат. borum) — химический элемент 13-й группы, второго периода периодической системы с атомным номером 5. Бесцветное, серое или красное кристаллическое либо тёмное аморфное вещество. Известно более 10 аллотропных модификаций бора, образование и взаимные переходы которых определяются температурой, при которой бор был получен[4].</string>
	<key>C</key>
	<string>Углеро́д (C, лат. carboneum) — химический элемент четырнадцатой группы, 2-го периода периодической системы с атомным номером 6 и атомной массой 12,0107[7].

Способность углерода образовывать полимерные цепочки порождает огромный класс соединений на основе углерода, называемых органическими, которых значительно больше, чем неорганических, и изучением которых занимается органическая химия.</string>
	<key>N</key>
	<string>Азо́т (N, лат. nitrogenium) — химический элемент 15-й группы, второго периода периодической системы с атомным номером 7. Относится к пниктогенам. Как простое вещество представляет собой двухатомный газ без цвета, вкуса и запаха. Один из самых распространённых элементов на Земле. Химически весьма инертен, однако реагирует с комплексными соединениями переходных металлов. Основной компонент воздуха (78,09 % объёма), разделением которого получают промышленный азот (более ¾ идёт на синтез аммиака). Применяется как инертная среда для множества технологических процессов; жидкий азот — хладагент. Азот — один из основных биогенных элементов, входящих в состав белков и нуклеиновых кислот[4].</string>
	<key>O</key>
	<string>Кислоро́д (O, лат. oxygenium) — химический элемент 16-й группы, второго периода периодической системы, с атомным номером 8. Кислород — химически активный неметалл, является самым лёгким элементом из группы халькогенов. Как простое вещество при нормальных условиях представляет собой газ без цвета, вкуса и запаха, молекула которого состоит из двух атомов кислорода (формула O2), в связи с чем его также называют дикислород[3]. Жидкий кислород имеет светло-голубой цвет, а твёрдый представляет собой кристаллы светло-синего цвета.

Существуют и другие аллотропные формы кислорода, например, озон — при нормальных условиях газ голубого цвета со специфическим запахом, молекула которого состоит из трёх атомов кислорода (формула O3).</string>
	<key>F</key>
	<string>Фтор (F, лат. fluorum) — химический элемент 17-й группы, второго периода периодической системы с атомным номером 9. Самый химически активный неметалл и сильнейший окислитель, самый лёгкий элемент из группы галогенов. Как простое вещество при нормальных условиях фтор представляет собой двухатомный газ (формула F2) бледно-жёлтого цвета с резким запахом, напоминающим озон или хлор. Токсичен.</string>
	<key>Ne</key>
	<string>Нео́н (Ne, лат. neon) — химический элемент 18-й группы, второго периода периодической системы с атомным номером 10. Пятый по распространённости элемент Вселенной после водорода, гелия, кислорода и углерода. Как простое вещество представляет собой инертный одноатомный газ без цвета и запаха. Обнаружен (наряду с ксеноном и аргоном) в 1898 году путём вывода из жидкого воздуха водорода, кислорода, аргона и углекислого газа.</string>
	<key>Na</key>
	<string>На́трий (Na, лат. natrium) — химический элемент первой группы, третьего периода периодической системы Менделеева, с атомным номером 11. Как простое вещество представляет собой мягкий щелочной металл серебристо-белого цвета. На внешнем энергетическом уровне натрий имеет один электрон, который он легко отдаёт, превращаясь в положительно заряженный катион Na+. Единственным стабильным изотопом является 23Na. В свободном виде не встречается, но может быть получен из различных соединений. Натрий — шестой по распространённости элемент в земной коре (англ.)русск.: он находится в составе многочисленных минералов, включая полевые шпаты, содалит и каменную соль (NaCl).</string>
	<key>Mg</key>
	<string>Ма́гний — элемент второй группы (по старой классификации — главной подгруппы второй группы), третьего периода периодической системы химических элементов Д. И. Менделеева, с атомным номером 12. Обозначается символом Mg (лат. Magnesium). Простое вещество магний — лёгкий, ковкий металл серебристо-белого цвета.</string>
	<key>Al</key>
	<string>Алюми́ний (Al, лат. aluminium) — элемент 13-й группы периодической таблицы химических элементов (по устаревшей классификации — элемент главной подгруппы III группы), третьего периода, с атомным номером 13. Относится к группе лёгких металлов. Наиболее распространённый металл и третий по распространённости химический элемент в земной коре (после кислорода и кремния).

Простое вещество алюминий — лёгкий парамагнитный металл серебристо-белого цвета, легко поддающийся формовке, литью, механической обработке. Алюминий обладает высокой тепло- и электропроводностью, стойкостью к коррозии за счёт быстрого образования прочных оксидных плёнок, защищающих поверхность от дальнейшего взаимодействия.</string>
	<key>Si</key>
	<string>Кре́мний (Si от лат. Silicium) — элемент четырнадцатой группы (по старой классификации — главной подгруппы четвёртой группы), третьего периода периодической системы химических элементов с атомным номером 14. Атомная масса 28,085. Неметалл, второй по распространённости химический элемент в земной коре (после кислорода). Исключительно важен для современной электроники.</string>
	<key>P</key>
	<string>Фо́сфор (от др.-греч. φῶς — свет и φέρω — несу; φωσφόρος — светоносный; лат. Phosphorus) — химический элемент 15-й группы (по устаревшей классификации — главной подгруппы пятой группы) третьего периода периодической системы Д. И. Менделеева; имеет атомный номер 15. Элемент входит в группу пниктогенов. Фосфор — один из распространённых элементов земной коры: его содержание составляет 0,08—0,09 % её массы. Концентрация в морской воде 0,07 мг/л[5]. В свободном состоянии не встречается из-за высокой химической активности. Образует около 190 минералов, важнейшими из которых являются апатит Ca5(PO4)3 (F,Cl,OH), фосфорит ( Сa3(PO4)2 ) и другие. Фосфор входит в состав важнейших биологических соединений — фосфолипидов. Содержится в животных тканях, входит в состав белков и других важнейших органических соединений (АТФ, ДНК), является элементом жизни.</string>
	<key>S</key>
	<string>Се́ра — элемент 16-й группы (по устаревшей классификации — главной подгруппы VI группы), третьего периода периодической системы химических элементов Д. И. Менделеева, с атомным номером 16. Проявляет неметаллические свойства. Обозначается символом S (лат. sulfur). В водородных и кислородных соединениях находится в составе различных ионов, образует многие кислоты и соли. Многие серосодержащие соли малорастворимы в воде.</string>
	<key>Cl</key>
	<string>Хлор от греч. χλωρός — «зелёный») — химический элемент с атомным номером 17[3]. Принадлежит к 17-й группе периодической таблицы химических элементов (по устаревшей короткой форме периодической системы принадлежит к главной подгруппе VII группы, или к группе VIIA), находится в третьем периоде таблицы. Атомная масса элемента</string>
	<key>Ar</key>
	<string>Арго́н — элемент 18-й группы периодической таблицы химических элементов (по устаревшей классификации — элемент главной подгруппы VIII группы) третьего периода периодической системы химических элементов Д. И. Менделеева, с атомным номером 18. Обозначается символом Ar (лат. Argon). Третий по распространённости элемент в земной атмосфере (после азота и кислорода) — 0,93 % по объёму. Простое вещество аргон — инертный одноатомный газ без цвета, вкуса и запаха.</string>
	<key>K</key>
	<string>Ка́лий — элемент первой группы (по старой классификации — главной подгруппы первой группы), четвёртого периода периодической системы химических элементов Д. И. Менделеева, с атомным номером 19. Обозначается символом K (лат. Kalium). Простое вещество калий — мягкий щелочной металл серебристо-белого цвета.

В природе калий встречается только в соединениях с другими элементами, например, в морской воде, а также во многих минералах. Очень быстро окисляется на воздухе и очень легко вступает в химические реакции, особенно с водой, образуя щёлочь.

Во многих свойствах калий очень близок натрию, но с точки зрения биологической функции и использования клетками живых организмов они антагонистичны</string>
	<key>Ca</key>
	<string>Ка́льций (Ca от лат. Calcium) — элемент второй группы (по старой классификации — главной подгруппы второй группы), четвёртого периода, с атомным номером 20. Простое вещество кальций — мягкий, химически активный щёлочноземельный металл серебристо-белого цвета. Впервые получен в чистом виде Г. Дэви в 1808 году.</string>
</dict>
</plist>
